<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- 
 * Copyright (c) 2010-2012 Marie Gouyette.
 * INRIA-IRISA- Triskell
 * All rights reserved. This program and the accompanying materials
 * are made available under the terms of the Eclipse Public License v1.0
 * which accompanies this distribution, and is available at
 * http://www.eclipse.org/legal/epl-v10.html
 * 
 * Contributors:
 *     INRIA-IRISA- Triskell
 *     Marie Gouyette - initial API and implementation
 *     contact marie.gouyette@gmail.com
-->
<plugin>
   <extension
         id="praxis.rules.fr.inria.featureDiagramEditor.praxisConstraints"
         name="fr.inria.featureDiagramEditor.praxisConstraints RuleSet"
         point="praxis.ruleset">
      <RuleSet
            Name="fr.inria.featureDiagramEditor.praxisConstraints"
            class="RulesAccess">
      </RuleSet>
   </extension>

</plugin>
